@media(max-width: 425px) {
    // footer
    footer{
        
        .footer-container{
            grid-template-columns: 1fr ;
            justify-items: left;
        }
       
      
    }
    
    
    
    main{
        .inicio{
            h1{text-align: center;
               font-size: 27px;}
            p{text-align: justify;}
            

            
        }
    }
    // main-nosotros
    .title h1 {
        font-size: 1.5rem;
    }
    
    .subtitle h2 {
        font-size: 1rem;
    }
    
    .text p {
        font-size: 0.8rem;
    }

    // main-denuncia
    main{
      .denuncia{
        margin: 0;
        padding: 3px;
        text-align: left;
        h1{
            font-size: 30px;
        }
        p{
            padding: 10px;
        }
      }
    
    
    
    
    }
      
    
}