main{
    .denuncia{
        padding-left: 3.5rem;
        padding-right: 10px;
        h1{
            font-size: 36px;
            margin: 30px 0;
        }
        p{
            font-size: 18px;
            line-height: 1.5;
            margin: 20px 0;
        }
        h2{
            font-size: 24px;
  margin: 30px 0;
  color: #000;
        }
        ul{
            list-style: disc;
  margin-left: 30px;
        }
    }
}