main{
 .container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
    margin-top: 29px;
   
    .imagen{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 100%;
            border-radius: 20px;
        }
    }
    .contenedor{
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    }

 }
 .title{
    font-size: 3rem;
margin-bottom: 10px;
color: #000;
}
.subtitle{
    font-size: 2rem;
margin-bottom: 5px;
color: #000;
}
.text{
    font-size: 1.2rem;
    margin-bottom: 10px;
}

 .seccion{
      margin-right: 15px;
      margin-top: 20px;
      margin-bottom: 40px;
      margin-left: 40px;
  
 }
}
    
  