*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #bdf1f8;
}

/* links utiles */
.links-utiles {
    font-size: 16px;
    line-height: 1.5;
    /* color: #212529;
    background-color: #999a9a8a; */
    padding: 2rem;
  }

  